<nav class="container mx-auto flex justify-between items-center">
    <div (click)="toggleTheme()"
        class="flex items-center gap-3 active:scale-90 transition-all duration-150 text-brand-primary cursor-pointer">
        <p class="text-lg text-brand-primary font-bold">{{applicationName}}</p>
        <mat-icon>
            @switch (uiService.activeTheme()) {
            @case ('stoneGray') {
            landscape
            }
            @case ('casbahRock') {
            liquor
            }
            @default {
            format_paint
            }
            }
        </mat-icon>
    </div>
    <div class="flex items-center justify-center gap-8 md:gap-12 lg:gap-5">
        <a [routerLink]="['/']" routerLinkActive="text-brand-primary underline"
            [routerLinkActiveOptions]="{exact: true}" class="flex items-center gap-2">
            <mat-icon>home</mat-icon>
            <span class="max-md:hidden">Beranda</span>
        </a>
        <a [routerLink]="['/color-palette']" routerLinkActive="text-brand-primary underline"
            [routerLinkActiveOptions]="{exact: true}" class="flex items-center gap-2">
            <mat-icon>palette</mat-icon>
            <span class="max-md:hidden">Palet Warna</span>
        </a>
        <a [routerLink]="['/git-message']" routerLinkActive="text-brand-primary underline"
            [routerLinkActiveOptions]="{exact: true}" class="flex items-center gap-2">
            <mat-icon>message</mat-icon>
            <span class="max-md:hidden">Pesan Git</span>
        </a>
    </div>
    <div>
        <button matIconButton (click)="toggleMode()" class="text-typography-primary" aria-label="ui mode toggle">
            <mat-icon>
                @switch (uiService.activePreference()) {
                @case ('dark') {
                dark_mode
                }
                @case ('light') {
                light_mode
                }
                @default {
                monitor
                }
                }
            </mat-icon>
        </button>
    </div>
</nav>
